
body 
{  

    margin-top: 5px; 
    margin-right: 5px; 
    margin-bottom: 5px; 
    margin-left: 5px; 


    padding-top: 14px; 
    padding-right: 30px; 
    padding-bottom: 14px; 
    padding-left: 30px; 
   
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
    font-size: 11px;
    background-color: #f0f0f0;
    color: #2b3940;

 
}


#header {
  text-align: center;
background-color: #455860;
margin-bottom: 5px; 
margin-left: 0px;
position: relative;
padding-top: 5px;
padding-bottom: 3px; 

}


h1 { 
    display: block;
    font-size: 2em;
   
    font-weight: bold;
color: azure;
}


.container {
width: 986px;
margin: 0 auto; 
/* background: #9FCCE0;  Цвет фона правой колонки */ 
border-right: 2px solid #183533; 
border-left: 2px solid #183533;



}

.topmenu{


height: 15px;

margin-left: 0px;
position: relative;
padding: 15px 15px;

}

.topcontent{
    color: darkslategrey;
    margin-top: 10px;
padding-left: 20px;
    font-size: 50px;
 text-align: center;

height: 100px;
background-color: #9FCCE0;
}


#leben{
font-size: 11px;
    padding: 15px 0;
}

.content {
height: 300px;
width: 100%;
padding: 15px 0; /* Поля вокруг текста */

background-color: #f0f0f0;
}

.contentbottom{
text-align: center;
width: 100%;
padding: 15px 0;
background-color: #9FCCE0;
}


a 
{  
    font-size: 16px; 
    color: #5EBBE5; 
    text-decoration: underline
}
a:visited 
{ 
	color: #455860; 
}
a:hover 
{   
	color: #7B9DAD;
}

p 
{ 
    text-align: justify;
    font-size: 16px; color: #2b3940;
} 

.canvas {


    margin-left: 80px;


    float: left; /* Обтекание врезки по правому краю */
    width: 300px; /* Ширина врезки */
height: 300px;
    /* background-color: #9FCCE0;  Цвет фона */
  /* Поля вокруг картинки */
    margin: 5px 5px 5px 20px; /* Отступы вокруг рисунка */
    border: 1px solid #9FCCE0; /* Параметры рамки */
    padding-left: 20px; 
padding-right: 20px; 
   }


.tast{
margin: 5px 10px 5px 0;
    padding-left: 350px; 
padding-right: 20px;
}



.footer {
   
    color: #808A87;
  
    clear: left;
    text-align: center;

    padding: 5px 0px 5px 0px;
    background-color: #385460;
 padding-left: 20px;
}

.menu {


font-size: 14px;
color: azure;
margin-left: 0px;
position: relative;
/*padding: 15px 15px;*/


    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 2em;
 
    margin-right: 0;
    padding-left: 40px;

}

.menu ul{
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}
.menu li {
display: inline;
margin-right: 10px;
}



.button1 {
    background-color: #5EBBE5;
    border: none;
   color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
padding-right: 1px ;
    padding-left: 1px ;
    padding-top: 1px;
    cursor: pointer;
width:200px ;
height: 200px;
margin-right: 20px;
margin-left: 20px;
}

.button{
    background-color: #9FCCE0;
    text-align: center;
    text-decoration: none;
    width:58px ;
    height: 55px;
}