/* header styles */
header h1 {
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    color: #5EBBE5;
}

header {
    background-color: #455860;
    padding: 1rem;
}